/**
 * MoviesScreen.css
 */

.movies-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.movies-screen__body {
  flex: 1;
  display: flex;
  overflow: hidden;
  gap: 1px;
}

.movies-screen__body > *:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.04);
}
